 <!--<div 
  style="background-color: green;" 
  *ngIf="true; else meuTemplate">Sou uma div!</div>

<ng-template #meuTemplate>
  <div 
    style="background-color: red;">Sou uma outra div!</div>
</ng-template> 
esse primeiro exemplo e o mais usado !!!!
-->

 <ng-container *ngIf="minhaProp; then meuTemplate; else meuOutroTemplate"></ng-container>

<ng-template #meuTemplate>
  <div 
    style="background-color: green;">Sou a div "then"</div>
</ng-template>

<ng-template #meuOutroTemplate>
  <div 
    style="background-color: red;">Sou a div "else"</div>
</ng-template>

<button (click)="toggleProp()">Toggle</button> 


<!--<div id="minha-div" style="display: none;">Sou uma div escondida!</div>

 <div id="minha-div" style="visibility: hidden;">Sou uma div escondida!</div> 
<h1>Sou um texto</h1>-->