<div class="list">
  <div 
    class="item" 
    *ngFor="
      let person of listPeople; 
      let i = index; 
      let isOdd = odd; 
      let isLast = last; 
      let isFirst = first; 
      let isEvent = even;"
    [class.item--odd]="isOdd"
    [class.item--highlighted]="personSelectedIndex === i"
    (click)="selectPerson(i)"
  >
  <!-- mais usada na diretiva do ngFor -->
    <p class="item__name">{{ i }} - {{ person.name }}</p>
    <p class="item__age">{{ person.age }} anos</p>

    <p *ngIf="isFirst">É o primeiro</p>
    <p *ngIf="isLast">É o último</p>
  </div>
</div>
